@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	background: #F7FAFC;
}

.card-task {
	border-width: 5px !important;
}

.custom-navbar {
	font-size: 14px;
	font-weight: bold;
	.container {
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.nav-separator {
			display: flex;
			align-items: center;
			.custom-nav-text, .custom-nav-link, .custom-navbar-brand {
				text-decoration: none;
				color: rgba(200,200,200,1);
			}
			.custom-navbar-brand {
				font-size: 1.5rem;
				font-weight: normal;
			}
		}
	}
}